<html>
<head>
    <title>Selected items (cart)</title>
</head>
<body>
{% include 'header.html' %}

  {% if not cart.items %}
       <h2>Cart is empty</h2>
  {% else %}
      <table border="1">
      <tr><th>No</th><th>Function</th><th>Parameter</th><th>.</th></tr>
      {% for item in cart.items %}
        <tr>
            <td>{{loop.index}}</td>
            <td>{{item.operation.name}}</td>
            <td>{{item.operand}}</td>
            <td>
              <form action="/remove_from_cart?position={{loop.index0}}" method="post">
                <input type="submit" value="remove">
              </form>
            </td>
        </tr>
      {% endfor %}
      </table>
  {% endif %}

<div>
  {% if cart.items %}
  <a href="/payment">Next ...</a>
  {% endif %}
</div>
</body>
</html>